@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Grafier";
        font-weight: 400;
        src: url('/fonts/PPGrafier-regular.otf') format('otf');
    }
}

#about .tech-card {
    @apply mx-auto border rounded-xl p-10 m-3;
}